How to extract top 1000 hackers by commenting frequency and use 
that to create a new dataset that just has top 1000 hackers.

In [1]:
import pandas as pd

In [2]:
news = pd.read_csv('https://github.com/EvidenceN/Hacker_News_Trolls/blob/master/dataset/Hacker_News_Dataset.csv?raw=true')

In [3]:
news.head()

,author,text,ranking,Record Count
0,vbezhenar,You should use URL-safe base 64 encoding descr...,5,1
1,silves89,Utterly extraordinary. Watching my daughter pl...,0,1
2,jrockway,"Honestly, I would just like to get 3 sizes wit...",20,1
3,Helianthus16,"I'm not assuming anything, I'm making an asser...",0,1
4,justin66,&#62; If you think that the display was sexist...,2,1

In [4]:
news['author'].describe()

count      749990
unique      84949
top       tptacek
freq         3039
Name: author, dtype: object

In [5]:
# model 1 = text and a new column that ranks it's negativity

# model 2 = author and their average negativity based on their comments

# we will use vader model to rank comments level of negativity. 

# Machine learning delivarable = new table that has author name, 
# text, text ranking, author average ranking.

# so that when you choose an author or text, you will see the author's 
# average negativity rank and the text specific negativity rank.

# flask app will store the new created table from machine learning crew as a database. 

# and then provide author name, text ranking, text, and author ranking as endpoints to web people.

In [6]:
# top 1000 commentors
news['author'].value_counts()[:1000]

tptacek       3039
jacquesm      1854
DanBC         1342
jrockway      1230
sp332         1106
              ...
cubicle67      108
bluedino       108
detaro         108
kayoone        108
PStamatiou     108
Name: author, Length: 1000, dtype: int64

In [7]:
top_commentors = pd.DataFrame(news['author'].value_counts()[:1000])
top_commentors

            author
tptacek       3039
jacquesm      1854
DanBC         1342
jrockway      1230
sp332         1106
...            ...
cubicle67      108
bluedino       108
detaro         108
kayoone        108
PStamatiou     108

[1000 rows x 1 columns]

In [8]:
top_commentors = top_commentors.reset_index()

In [9]:
top_commentors

          index  author
0       tptacek    3039
1      jacquesm    1854
2         DanBC    1342
3      jrockway    1230
4         sp332    1106
..          ...     ...
995   cubicle67     108
996    bluedino     108
997      detaro     108
998     kayoone     108
999  PStamatiou     108

[1000 rows x 2 columns]

In [10]:
top_commentors = top_commentors.rename(columns={'index':'author',
                                         'author':'frequency'})

In [11]:
top_commentors.head()

     author  frequency
0   tptacek       3039
1  jacquesm       1854
2     DanBC       1342
3  jrockway       1230
4     sp332       1106

In [12]:
top_commentors['author']

0         tptacek
1        jacquesm
2           DanBC
3        jrockway
4           sp332
          ...
995     cubicle67
996      bluedino
997        detaro
998       kayoone
999    PStamatiou
Name: author, Length: 1000, dtype: object

In [13]:
news['author']

0            vbezhenar
1             silves89
2             jrockway
3         Helianthus16
4             justin66
              ...
749995          irahul
749996             bmj
749997             rms
749998            Jun8
749999          cdavid
Name: author, Length: 750000, dtype: object

In [14]:
news['author'].isin(top_commentors['author'])

0         False
1         False
2          True
3         False
4         False
          ...
749995    False
749996    False
749997     True
749998     True
749999    False
Name: author, Length: 750000, dtype: bool

In [15]:
# new data frame that has just the top 1000 commentators

top_news = news[news['author'].isin(top_commentors['author'])]

top_news.head()

,author,text,ranking,Record Count
2,jrockway,"Honestly, I would just like to get 3 sizes wit...",20,1
5,maxerickson,I would think the allusion is rooted in huntin...,1,1
6,tim333,"I thought I&#x27;d stick this thing up, partly...",0,1
9,nawitus,"By the way, the e-voting system has multiple s...",2,1
12,waps,"Did you ever know any manager, never mind a hi...",1,1

In [16]:
top_news.shape

(230705, 4)

In [20]:
compression_opts = dict(method='zip',archive_name='out.csv')  

top_news.to_csv('out.zip', index=False, compression=compression_opts)

In [21]:
# reading new dataset that just has data of choice. 

hacker_news = pd.read_csv('https://github.com/EvidenceN/Hacker_News_Trolls/blob/master/top_hacker_authors_dataset/top_hacker_authors.csv?raw=true')
hacker_news.head()

,author,text,ranking,Record Count
0,jrockway,"Honestly, I would just like to get 3 sizes wit...",20,1
1,maxerickson,I would think the allusion is rooted in huntin...,1,1
2,tim333,"I thought I&#x27;d stick this thing up, partly...",0,1
3,nawitus,"By the way, the e-voting system has multiple s...",2,1
4,waps,"Did you ever know any manager, never mind a hi...",1,1