In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
#db connection
engine = create_engine('postgres://rgdqrjwe:IAlYM69Mxn3_2PBDOrWWmdZykJXix86X@ruby.db.elephantsql.com:5432/rgdqrjwe')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
pg_conn = engine.connect()

In [4]:
#google service account credentials
credentials = service_account.Credentials.from_service_account_file('glowing-jetty-167506-9b93ba6e404f.json')
#label project
project_id = 'SaltyNews-HackerNews'

In [5]:
client = bigquery.Client(credentials=credentials,project=project_id)

In [6]:
dp_ref = client.dataset('hacker_news', project='bigquery-public-data')

In [7]:
table_ref = dp_ref.table('comments')

In [8]:
# get the table from big query.
comments_table = client.get_table(table_ref)
# create the dataframe with 30,000 rows, ElephantSQL limits it 20MB.
HNcommentsDB = client.list_rows(comments_table, max_results=30000).to_dataframe()

In [9]:
print(HNcommentsDB.shape)
HNcommentsDB.head()

(30000, 10)

         id  by author        time  ...    parent deleted  dead ranking
0   2701393  5l     5l  1309184881  ...   2701243    None  None       0
1   5811403  99     99  1370234048  ...   5804452    None  None       0
2     21623  AF     AF  1178992400  ...     21611    None  None       0
3  10159727  EA     EA  1441206574  ...  10159396    None  None       0
4   2988424  Iv     Iv  1315853580  ...   2988179    None  None       0

[5 rows x 10 columns]

In [10]:
# drop unecessary columns.
HNcommentsDB = HNcommentsDB.drop(columns=['dead', 'deleted', 'by'])
HNcommentsDB = HNcommentsDB.rename(columns={"time":"order"})
# use datetime on time_ts column.
HNcommentsDB['time_ts'] = pd.to_datetime(HNcommentsDB['time_ts'], infer_datetime_format=True)
# seperate the date and time from time_ts column.
HNcommentsDB['date'] = [d.date() for d in HNcommentsDB['time_ts']]
HNcommentsDB['time'] = [d.time() for d in HNcommentsDB['time_ts']]
# sepereate the year, month, day for date column.
HNcommentsDB['year'] = HNcommentsDB['date'].map(lambda x: x.year)
HNcommentsDB['month'] = HNcommentsDB['date'].map(lambda x: x.month)
HNcommentsDB['day'] = HNcommentsDB['date'].map(lambda x: x.day)
# drop the time_ts column.
HNcommentsDB = HNcommentsDB.drop(columns=['time_ts', 'date'])
# reorganize the columns.
HNcommentsDB = HNcommentsDB[['year', 'month', 'day', 'time', 'order', 'author', 'id', 'text', 'ranking']]
# drop any duplicate columns based on id column.
HNcommentsDB.drop_duplicates(subset ="id", keep = "first", inplace = True)
# keep the most frequest 1000 authors and their comments.
n = 1000
frequent_list = HNcommentsDB['author'].value_counts()[:n].index.tolist()
top_commentors = HNcommentsDB[HNcommentsDB['author'].isin(frequent_list)]
# show data frame shape.
print(top_commentors.shape)
# show the data frame with headers.
top_commentors.head(10)

(14610, 9)

    year  month  ...                                               text ranking
9   2011      8  ...  Yep, I didn't find Rescuetime very helpful. I ...       0
10  2007      9  ...  It was a risky joke.  Looks like I am losing s...       0
11  2011      5  ...  Looks good, there are a bunch of questions he ...       0
12  2011      5  ...  A bit, but so much for me ended up being gener...       0
13  2010     12  ...  I also agree with your rejoinder and upvoted i...       0
14  2013      6  ...  Sadly doesn't provide any filtering on tags, w...       0
15  2007     10  ...  Feferman usefully explores the presuppositions...       0
16  2012      9  ...  Here are my take aways:<p>(1) Say that you can...       0
19  2012     12  ...  So, basically, you think I have Munchausen the...       0
20  2015     10  ...  One way to test your hypothesis is to start re...       0

[10 rows x 9 columns]

In [11]:
top_commentors.isnull().sum()

year       0
month      0
day        0
time       0
order      0
author     0
id         0
text       0
ranking    0
dtype: int64

In [12]:
import html
import pandas as pd
from html.parser import HTMLParser
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import json
import requests
import numpy as np

In [13]:
class HTMLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ' '.join(self.fed)

def strip_tags(html):
    s = HTMLStripper()
    s.feed(html)
    return s.get_data()

In [14]:
df = top_commentors[top_commentors['text'].notnull()]

In [15]:
df['text']  = df['text'].apply(html.unescape)
df['text'] = df['text'].apply(strip_tags)
df.head(10)

    year  month  ...                                               text ranking
9   2011      8  ...  Yep, I didn't find Rescuetime very helpful. I ...       0
10  2007      9  ...  It was a risky joke.  Looks like I am losing s...       0
11  2011      5  ...  Looks good, there are a bunch of questions he ...       0
12  2011      5  ...  A bit, but so much for me ended up being gener...       0
13  2010     12  ...  I also agree with your rejoinder and upvoted i...       0
14  2013      6  ...  Sadly doesn't provide any filtering on tags, w...       0
15  2007     10  ...  Feferman usefully explores the presuppositions...       0
16  2012      9  ...  Here are my take aways: (1) Say that you can d...       0
19  2012     12  ...  So, basically, you think I have Munchausen the...       0
20  2015     10  ...  One way to test your hypothesis is to start re...       0

[10 rows x 9 columns]

In [16]:
analyzer = SentimentIntensityAnalyzer()

In [17]:
def analyze(sentence):
    return analyzer.polarity_scores(sentence)

In [18]:


df['scores'] = df['text'].apply(analyze)
df[['neg', 'neu', 'pos', 'rating']] = df.scores.apply(pd.Series)
df = df.drop(columns="scores")
df.head(10)

    year  month  day      time  ...    neg    neu    pos  rating
9   2011      8    7  04:17:26  ...  0.100  0.834  0.066 -0.5470
10  2007      9    5  17:04:05  ...  0.145  0.395  0.460  0.8623
11  2011      5   30  22:34:14  ...  0.000  0.934  0.066  0.4404
12  2011      5   30  21:00:05  ...  0.000  0.919  0.081  0.6722
13  2010     12    8  18:12:25  ...  0.000  0.593  0.407  0.6705
14  2013      6    5  06:35:40  ...  0.094  0.906  0.000 -0.4215
15  2007     10   27  06:36:41  ...  0.000  0.966  0.034  0.4215
16  2012      9   25  08:38:22  ...  0.040  0.815  0.145  0.6295
19  2012     12    9  19:55:35  ...  0.077  0.772  0.151  0.2732
20  2015     10    1  18:56:55  ...  0.117  0.777  0.107 -0.7575

[10 rows x 13 columns]

In [19]:
author = df.author.unique()
top = []
names = ['author', 'average']
for a in author:
  top1 = []
  top1.append(a)
  x = df[df['author']== a]
  value = x['neg'].mean()
  top1.append(value)
  top.append(top1)

df1 = pd.DataFrame(columns = names, data = top)

In [20]:
sorted_df = df1.sort_values(by='average', ascending=False)
sorted_df.reset_index()

     index   author   average
0      138     dTal  0.162667
1       13      Nux  0.162143
2      855  hartror  0.159167
3      768  alan_cx  0.155727
4      987  smokeyj  0.154286
..     ...      ...       ...
995    153     elai  0.006857
996    320    gtani  0.006818
997    615   mentat  0.006333
998    757  Revisor  0.005167
999    594   lachyg  0.000000

[1000 rows x 3 columns]

In [21]:
df = df.reset_index()
df = df.drop(columns='index')
df.head()

   year  month  day      time       order  ... ranking    neg    neu    pos  rating
0  2011      8    7  04:17:26  1312690646  ...       0  0.100  0.834  0.066 -0.5470
1  2007      9    5  17:04:05  1189011845  ...       0  0.145  0.395  0.460  0.8623
2  2011      5   30  22:34:14  1306794854  ...       0  0.000  0.934  0.066  0.4404
3  2011      5   30  21:00:05  1306789205  ...       0  0.000  0.919  0.081  0.6722
4  2010     12    8  18:12:25  1291831945  ...       0  0.000  0.593  0.407  0.6705

[5 rows x 13 columns]

In [22]:
for x in range(len(sorted_df.values)):
  entry = sorted_df.loc[x]
  average = entry['average']
  author = entry['author']
  rank = x + 1
  df[df['author'] == author]['average'] = average
  df[df['author'] == author]['rank'] = rank

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [23]:
df['average'] = 0
df.head()

   year  month  day      time       order  ...    neg    neu    pos  rating  average
0  2011      8    7  04:17:26  1312690646  ...  0.100  0.834  0.066 -0.5470        0
1  2007      9    5  17:04:05  1189011845  ...  0.145  0.395  0.460  0.8623        0
2  2011      5   30  22:34:14  1306794854  ...  0.000  0.934  0.066  0.4404        0
3  2011      5   30  21:00:05  1306789205  ...  0.000  0.919  0.081  0.6722        0
4  2010     12    8  18:12:25  1291831945  ...  0.000  0.593  0.407  0.6705        0

[5 rows x 14 columns]

In [24]:
sorted_df['ranking'] = 0

sorted_df = sorted_df.reset_index()

sorted_df = sorted_df.drop(columns='index')
sdf = sorted_df
sdf.head()

    author   average  ranking
0     dTal  0.162667        0
1      Nux  0.162143        0
2  hartror  0.159167        0
3  alan_cx  0.155727        0
4  smokeyj  0.154286        0

In [27]:
for index, data in sdf.iterrows():
  sdf.loc[index, 'ranking'] = int(index + 1)

In [28]:
sdf.head()

    author   average  ranking
0     dTal  0.162667        1
1      Nux  0.162143        2
2  hartror  0.159167        3
3  alan_cx  0.155727        4
4  smokeyj  0.154286        5

In [29]:
for index, data in df.iterrows():
  author = data['author']
  entry = sdf[sdf['author'] == author]
  rank = entry['ranking'].values[0]
  average = entry['average'].values[0]
  df.loc[index, 'average'] = average
  df.loc[index, 'ranking'] = rank

In [30]:
df.head(20)

    year  month  day      time  ...    neu    pos  rating   average
0   2011      8    7  04:17:26  ...  0.834  0.066 -0.5470  0.047375
1   2007      9    5  17:04:05  ...  0.395  0.460  0.8623  0.047375
2   2011      5   30  22:34:14  ...  0.934  0.066  0.4404  0.047375
3   2011      5   30  21:00:05  ...  0.919  0.081  0.6722  0.047375
4   2010     12    8  18:12:25  ...  0.593  0.407  0.6705  0.047375
5   2013      6    5  06:35:40  ...  0.906  0.000 -0.4215  0.047375
6   2007     10   27  06:36:41  ...  0.966  0.034  0.4215  0.047375
7   2012      9   25  08:38:22  ...  0.815  0.145  0.6295  0.047375
8   2012     12    9  19:55:35  ...  0.772  0.151  0.2732  0.067156
9   2015     10    1  18:56:55  ...  0.777  0.107 -0.7575  0.067156
10  2010      9    3  01:21:58  ...  0.943  0.000 -0.2732  0.067156
11  2012     12   12  18:27:15  ...  0.761  0.137  0.6757  0.067156
12  2012      5   19  19:49:16  ...  0.818  0.157  0.8498  0.067156
13  2015      7   15  22:42:16  ...  0.286  0.714  0.3612  0.067156
14  2011     12   25  18:48:45  ...  0.906  0.094  0.8519  0.067156
15  2015      5    6  00:24:29  ...  0.780  0.104 -0.4708  0.067156
16  2010      8    7  23:42:25  ...  0.864  0.087  0.9409  0.067156
17  2012     12    7  21:25:43  ...  0.746  0.155  0.9806  0.067156
18  2013      4   11  20:17:48  ...  0.700  0.206  0.8969  0.067156
19  2010     11   21  20:17:08  ...  0.920  0.080  0.6249  0.067156

[20 rows x 14 columns]

In [31]:
# convert dataframe to SQL, push to ElephantSQL.
df.to_sql('HNTopCommentors', con=engine, if_exists='replace', index=False)

In [33]:
df.to_csv('topcommenterscsv.csv')

In [35]:
from google.colab import files

In [36]:
files.download('topcommenterscsv.csv')