In [1]:
import pandas as pd

In [2]:
#url = 'https://github.com/buildweek-saltiest-hacker/data-engineering-api/blob/master/hacker-comments.csv'
df = pd.read_csv('hacker-comments.csv')

In [3]:
df.head()

,Unnamed: 0,hacker_name,hacker_comment,comment_saltiness,hacker_score
0,0,DanBC,Drug use has clear links with violence althoug...,9996,247.11
1,1,waps,You failed to explain why the Sana'a manuscrip...,9996,-684.35
2,2,AnthonyMouse,How do you stop another oklahoma cityI think t...,9995,507.01
3,3,michaelochurch,Can you think of any constructive ways forward...,9994,-932.92
4,4,paulhauggis,These sorts of articles do nothing to help the...,9994,-832.11

In [4]:
df.shape

(230703, 5)

In [5]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyser = SentimentIntensityAnalyzer()

In [6]:
def vaderize(sentence):
    return analyser.polarity_scores(sentence)

In [7]:
df['scores'] = df['hacker_comment'].apply(vaderize)

In [8]:
df.head()

,Unnamed: 0,hacker_name,hacker_comment,comment_saltiness,hacker_score,scores
0,0,DanBC,Drug use has clear links with violence althoug...,9996,247.11,"{'neg': 0.274, 'neu': 0.656, 'pos': 0.07, 'com..."
1,1,waps,You failed to explain why the Sana'a manuscrip...,9996,-684.35,"{'neg': 0.199, 'neu': 0.711, 'pos': 0.089, 'co..."
2,2,AnthonyMouse,How do you stop another oklahoma cityI think t...,9995,507.01,"{'neg': 0.303, 'neu': 0.611, 'pos': 0.086, 'co..."
3,3,michaelochurch,Can you think of any constructive ways forward...,9994,-932.92,"{'neg': 0.203, 'neu': 0.667, 'pos': 0.129, 'co..."
4,4,paulhauggis,These sorts of articles do nothing to help the...,9994,-832.11,"{'neg': 0.206, 'neu': 0.739, 'pos': 0.055, 'co..."

In [9]:
df[['neg', 'neu', 'pos', 'compound']] = df.scores.apply(pd.Series)

In [11]:
for text in df.sort_values(by='neg', ascending=False)['hacker_comment'].head(20):
    print(text, '\n')

NIMBY

Terrorism.

Evil.

Sadly?

Fake?

Stop spamming.

*unconfirmed

annoying?

bullshit

Waste?

Revenge.

No

murderer!

Sorry!

Unfortunately.

Fail.

Vanity

Heartbreaking?

Bullshit!

Crap, sorry.

In [14]:
df = df.drop('scores', axis=1)

In [15]:
df.head()

,Unnamed: 0,hacker_name,hacker_comment,comment_saltiness,hacker_score,neg,neu,pos,compound
0,0,DanBC,Drug use has clear links with violence althoug...,9996,247.11,0.274,0.656,0.070,-0.9996
1,1,waps,You failed to explain why the Sana'a manuscrip...,9996,-684.35,0.199,0.711,0.089,-0.9996
2,2,AnthonyMouse,How do you stop another oklahoma cityI think t...,9995,507.01,0.303,0.611,0.086,-0.9995
3,3,michaelochurch,Can you think of any constructive ways forward...,9994,-932.92,0.203,0.667,0.129,-0.9994
4,4,paulhauggis,These sorts of articles do nothing to help the...,9994,-832.11,0.206,0.739,0.055,-0.9994

In [16]:
df.to_csv('db_with_sentiment_scores.csv', index=False)